.home-cont {
  width: 100%;
  height: 100%;
}
.home-wr {
  background: url("/public/images/temple.png") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.home-main-title {
  width: 65%;
}
.home-main-title h1 {
  font-family: "Cantata One";
  font-weight: 400;
  font-size: 100px;
  line-height: 98px;
  font-style: normal;
  color: var(--main-color);
  margin: 0;
}

.home-main-title p {
  font-family: "Mulish";
  font-weight: 500;
  font-size: 24px;
  color: var(--main-color);
}
.home-main-search {
  align-items: center;
  justify-content: space-between;
  padding: 30px 47px;
  height: 80px;
  width: 60%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 27px 94px -50px rgba(20, 32, 47, 0.5);
  -webkit-backdrop-filter: blur(4.5px);
  -moz-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
}
.home-main-search select {
  padding: 16px 16px 16px 24px;
  width: 475px;
  height: 56px;
  background-color: #f2f4f6;
  outline: none;
  border: none;
  border-right: 16px solid transparent;
}
.home-search {
  background-color: var(--main-button-color);
  width: 139px;
  height: 58px;
  padding: 18px 40px 17px;
  outline: none;
  border: none;
  max-height: 56px;
  justify-content: center;
  align-items: center;
}
.home-search span {
  color: #fff;
}
.card-cont {
  display: flex;
}

.card-img {
  width: 467px;
  height: 345px;
  background-color: #d4e7ee;
}
.container {
  background-color: #f7f9fc;
}
@supports (display: grid) {
  .main {
    overflow: hidden !important;
    color: #959595;
    background-color: #f7f9fc;
    grid-area: main;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 100px;
    padding: 0 0px 0 200px;
  }

  .items {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
  }

  .items.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }

  .card-data-cont {
    display: inline-block;
  }
  @media screen and (max-width: 500px) {
    .card-data-cont {
      min-height: 200px;
      min-width: 200px;
    }
  }
}
.home-start-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 93px;
  margin-bottom: 150px;
}
.home-start {
  width: 176px;
  height: 58px;
  background-color: var(--main-button-color);
  outline: none;
  border: none;
  color: var(--main-color);
}

@media screen and (max-width: 1600px) {
  .main {
    padding: 0 0px 0 100px;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    padding: 0 0px 0 50px;
  }
}
@media screen and (max-width: 1000px) {
  .main {
    padding: 0 0px 0 15px;
    overflow-x: unset !important;
    overflow-y: unset !important;
  }

  .items {
    justify-content: center;
    overflow-x: unset;
    overflow-y: unset !important;
  }
}

@media screen and (max-width: 600px) {
  .home-main-title {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .home-main-search {
    width: 90%;
    padding: 15px 10px;
  }
  .home-main-search select {
    width: 35%;
    height: 53px;
  }
  .home-search {
    width: 112px;
    height: 53px;
  }
  .home-main-title h1 {
    font-size: 85px;
    line-height: 93px;
  }
  .main {
    padding: 0 0px 0 10px;
  }
  .items {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .home-main-title {
    width: 90%;
  }
  .home-main-title h1 {
    font-size: 70px;
    line-height: 78px;
  }
}
