.dashboard {
  width: 100%;
  height: 100%;
}
.dashboard-content {
  width: 60%;
  margin-left: 10px;
}
.dashboard-content-wr h2 {
  font-family: var(--font-cantata);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;

  /* 2_Dark */
  color: #012641;
}
.dashboard-content-header {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-bottom: 32px;
}
.dashboard-content-header-book {
  text-decoration: none;
  max-width: 256px;
  max-height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: var(--main-button-color);
}
.dashboard-content-header-book-wr {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 24px;
}
.dashboard-content-header-book-wr span {
  font-family: var(--font-mulish);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: var(--main-color);
  margin-left: 12px;
}
.dashboard-content-header-book-wr img {
  width: 16px;
  height: 16px;
}
.dashboard-content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-content-calender {
  background-color: var(--main-color);
  width: 100%;
}
.dashboard-content-calender-wr {
}
.dashboard-content-calender-header {
  width: 446px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 40px;
  margin-bottom: 60px;
}
.dashboard-content-calender-header-wr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 191px;
}
.user-img img {
  border-radius: 50px;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.user-data span {
  font-family: var(--font-mulish);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333c48;
}
.user-data p {
  margin: 0;
  margin-top: 4px;
  font-family: var(--font-mulish);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #071221;
}
.calender-cont {
  max-width: 445px;
  max-height: 439px;
}
.dashboard {
  max-width: 100%;
  justify-content: space-between;
}
.dashboard-content-calender {
  width: 30%;
}
.dashboard-content-calender-wr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-content-footer {
  width: 96%;
}
.dashboard-content-calender-res {
}
@media screen and (max-width: 1800px) {
  .dashboard-content {
    width: 60%;
  }
  .dashboard-content-calender-wr {
    padding-right: 0;
  }
  .dashboard-content {
    margin-left: 265px;
  }
}
@media screen and (max-width: 1700px) {
  .dashboard-content {
    width: 55%;
  }
}
@media screen and (max-width: 1600px) {
  .dashboard-content-calender-header {
    width: 405px;
  }
  .dashboard {
    justify-content: space-between;
  }
  .dashboard-content-calender {
    width: 30%;
  }

  .dashboard-content-calender {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1500px) {
  .dashboard-content {
    width: 50%;
  }
  .dashboard-content-calender-header {
    width: 380px;
  }
  .dashboard-content-calender-wr {
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 5px;
  }
}
@media screen and (max-width: 1300px) {
  .dashboard-content-calender-header {
    width: 320px;
  }
  .dashboard-content {
    margin-left: 240px;
  }
}
@media screen and (max-width: 1150px) {
  .dashboard-content {
    width: 60%;
    margin-left: 100px;
  }
}
@media screen and (max-width: 1100px) {
  .dashboard-content-calender-header {
    width: 285px;
  }
}

@media screen and (max-width: 1000px) {
  .dashboard-content-calender {
    display: none;
  }
  .dashboard-content {
    width: 85%;
  }
  .dashboard {
    justify-content: unset;
  }
  .table-body-cont {
    width: 100%;
  }
  .dashboard {
    position: relative;
  }
}

@media screen and (max-width: 700px) {
  .dashboard-content {
    width: 95%;
    margin-left: 15px;
  }
}

@media screen and (max-width: 400px) {
  .dashboard-content {
    margin-left: 5px;
  }
}
