.sidebar-cont {
  max-width: 280px;
  height: 100%;
  padding: 0px 37px 0 80px;
  background-color: var(--main-color);
  box-shadow: 10px 0px 30px rgba(229, 234, 239, 0.5);
}
.sidebar-wr {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-logo {
}
.sidebar-logo img {
  width: 157px;
  height: 40px;
  margin-top: 45px;
}

.sidebar-menu {
  margin-top: 64px;
  max-width: 208px;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
}
ul {
  padding: 0 !important;
  margin: 0;
}
.sidebar-menu li {
  width: 208px;
  height: 48px;
}
.sidebar-menu ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar-menu ul li a svg {
  margin-left: 15px;
}
.sidebar-menu ul li a span {
  margin-left: 15px;
  font-family: var(--font-mulish);
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #777b81;
}
.active-dashboard {
  background: #60b3d1;
}
.active-dashboard a span {
  color: var(--main-color) !important;
}
.sidebar-cont-lower {
  margin-bottom: 41px;
}
.sidebar-cont-lower-wr-img {
  width: 48px;
  height: 48px;
}
.sidebar-cont-lower-wr {
  display: flex;
}
.sidebar-cont-lower-wr-img img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
}
.sidebar-cont-lower {
  align-items: center;
}
.sidebar-cont-lower-logout {
  margin-top: 46px;
  cursor: pointer;
}
.sidebar-cont-lower-logout p {
  font-family: var(--font-mulish);
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #777b81;
  margin: 0;
  margin-left: 15px;
}
.sidebar-cont-lower-wr-data {
  margin-left: 12px;
}
.sidebar-cont-lower-wr-data span,
p {
  font-family: var(--font-mulish);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333c48;
}
.sidebar-cont-lower-wr-data p {
  margin: 0;
  font-weight: 700;
  color: #071221;
}
