:root {
  --header-color: #0126414d;
  --header-color: #071221;
  --second-dark-color: #012641;
  --main-color: #ffffff;
  --main-button-color: #60b3d1;
  --font-mulish: "Mulish";
  --font-cantata: "Cantata One";
  --star-size: 24px;
  --star-height: 18.21px;
  --star-color: #ecf1f6;
  --star-background: #edc229;
}
#root {
  height: 100vh;
}
body {
  padding: 0;
  margin: 0;
  background-color: #f7f9fc;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
