:root {
  --header-color: #0126414d;
  --header-color: #071221;
  --second-dark-color: #012641;
  --main-color: #ffffff;
  --main-button-color: #60b3d1;
  --font-mulish: "Mulish";
  --font-cantata: "Cantata One";
  --star-size: 24px;
  --star-height: 18.21px;
  --star-color: #ecf1f6;
  --star-background: #edc229;
}
#root {
  height: 100vh;
}
body {
  padding: 0;
  margin: 0;
  background-color: #f7f9fc;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.calendar-day-child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5px;
}
.unavailable-dot {
  width: 7px !important;
  height: 7px !important;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='3.5' r='3.5' fill='%23FF6E77'/%3E%3C/svg%3E%0A");
}
.available-dot {
  width: 7px !important;
  height: 7px !important;
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='3.5' cy='3.5' r='3.5' fill='%2312DAB6'/%3E%3C/svg%3E%0A");
}
