.footer-cont {
  width: 100%;
  min-height: 150px;
  background-color: var(--second-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-wr {
  width: 90%;
  height: 100%;
  background-color: var(--second-dark-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copy-rights p {
  font-family: var(--font-mulish);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.8);
}
.footer-logo p {
  font-family: var(--font-mulish);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: var(--main-color);
}
.social-media-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 24px;
  gap: 24px;
}
.facebook {
  width: 24px;
  height: 24px;
  background: url("/public/images/social-images/facebook.png");
}
.insta {
  width: 24px;
  height: 24px;
  background: url("/public/images/social-images/insta.png");
}
.linkedin {
  width: 24px;
  height: 24px;
  background: url("/public/images/social-images/linkedin.png");
}
